.hero-image{
    background-image: url('https://picsum.photos/seed/picsum/1920/1080');
    height: 100vh;
    margin-top: -56px;
    margin-bottom: 0px;
    border-radius: 0px;
}

.vertical-center{
    display: flex;
    align-items: center;
}

.navbar{
    z-index: 999;
}
@media (max-width: 1200px) {
    body {
        margin-top: 50px;
    }
      .navbar{
        position: fixed;
        right: 0;
        left: 0;   
        border-radius: 0;
        top: 0;
      }      
    }